/* Improves PageSpeed results */
/* with this, text remains visible during webfont load */
@font-face {
  font-display: swap;
}

.form-control::placeholder {
  color: rgba(33,37,41,0.3)!important;
}

.progress, .progress-stacked {
  --bs-progress-bar-bg: rgb(49,169,0);
}

.modal {
  --bs-modal-border-radius: 10px!important;
  --bs-modal-border-color: none;
}

/* Ingredient styling */
li.pointer {
  cursor: pointer;
}

li.pointer:hover {
  text-decoration: underline;
  text-decoration-color: #ccc;
}
